/* .App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
} */

html {
	scroll-behavior: smooth;
  }
.ecart_logo {
	height: 65px;
	width: 282px;
	/* margin-top: 8px; */
	margin-left: 5px;
}

.ecart-navbar {
	display: flex;
	width: 336px;
	/* margin-top: 28px; */
	margin: auto;
	line-height: 0.5;
}
a:hover {
	color: #0c0c0c !important;
	text-decoration: none !important;
}

.ecart-navbarTitle {
	margin-right: 20px;
	margin-left: 20px;
	font-family: sans-serif;
	cursor: pointer;
	font-size: 21px;
	text-decoration: none;
	color: black;
}

.ecart-navbarUnderline {
	width: 4rem;
	height: 2px;
	background-color: #039BE5;
}

.ecart-hideContent {
	display: none;
}

.ecart-loginBtn {
	margin-right: 20px;
	float: right;
	width: 8%;
	height: 29%;
    margin-top: 3%;
	border-radius: 16px;
	border: 1px solid #039BE5;
}

.ecart-loginPopup {
	margin: auto;
	width: 100%;
	/* Full width */
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 1;
	overflow: auto;
	position: fixed;
	left: 0;
	top: 0;
}

.ecart-ModalContent {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 37%;
	height: 50%;
	margin-top: 15%;
	border-radius: 42px;
}

.ecart-registerModalContent {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 37%;
	height: 57%;
	margin-top: 15%;
	border-radius: 42px;
}

.ecart-toolbar {
	background: #e0e0e0;
	height: 7rem;
	position: sticky;
	top: 0px;
	z-index: 1;
}

.ecart-closeBtn {
	float: right;
}

.ecart-inputField {
	width: 90%;
	padding: 6px 6px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.ecar-label {
	font-family: sans-serif;
}

.ecart-submitBtn {
	width: 30%;
	background-color: #64B5F6;
	color: white;
	padding: 6px 6px;
	margin: 0px 142px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.ecart-registerLink {
	margin-left: 24%;
	cursor: pointer;
	color: dodgerblue;
}

.ecart-modalTitle {
	margin: auto;
	margin-left: 41%;
	margin-top: -23px;
	
}

.ecart_profileIcon {
	height: 45px;
	margin-right: 20px;
	float: right;
	margin-top: 0%;
}

.ecart_profileBox {
	margin-right: 20px;
	float: right;
	margin-top: 2%;
}

.ecart-Background {
	/* background-image: url('BG.jpg'); */
	background-size: 100% 100%;
	/* background-size: cover; */
	background-color: #64B5F6;
}

.restro-sidebar {
	width: 20%;
	height: 30.5rem;
	/* padding-left: 15px; */
	/* margin-left: 15px; */
	float: left;
	/* font-style: italic; */
	background-color: lightgray;
	overflow-y: scroll;
	overflow-x: hidden;
  }
  .restro-detailspage{
	height: 30.5rem;
	overflow-y: scroll;
	overflow-x: hidden;
  }

  .select-Cuisine{
	  background-color: red;
	  list-style-type:none;
	  margin-block-start: 0em;
	margin-block-end: 0em;
	padding:2px;
  }
  .cuisine-list{
	list-style-type:none;
	border-bottom:1px solid gray;
	cursor: pointer;
  }
  .sidebar-List{
	padding-inline-start: 2px;
  }
  .restaurant-Box{
	/* border:1px solid black; */
	text-align: center;
	background-color:#f4fafb;
	margin: 17px 57px 42px 48px;
	border-radius: 9px;
	
	
	/* display: inline-block; */
	/* justify-content: space-around; */
  }

  .rest-Box{
	/* border:1px solid black; */
	text-align: center;
	background-color:#f4fafb;
	margin: 13px 78px 42px 93px;
	border-radius: 9px;
  }
  
  
  .rest-Box:hover{
	background-color: #dadada;
  }
  .row1 {
	display: flex;
	flex-wrap: wrap;
  }
  .Restaurant-Img{
	height:30vh;
	width:80%;
  }
  .qntyInput{
	width:30px;
  }
  .qntyDiv{
	float:left;
  }
  .addBtn{
	/* margin-left: 50%; */
	float:right;
  }
  .shwCartBtn{ 
		position: fixed;
    top: 81%;
    right: 9px;
		width: 80px;
		cursor: pointer;
  }
  .table{
	width:100%
	}
	.cartModal{
		background-color: #e0e0e0;
		width:33rem !important;
	margin: auto;
	margin-top: 15%;
	}
	.profile-img{
		height: 38px;
		margin-left: 77px;
	}
	.dropdown-css{
		background-color: #fefefe;
    width: 146px;
    position: absolute;
    right: 7px;
    top: 86px;
	}

	.slide-table{
		background-color:#64b5f6;;
		margin:auto;
		height:500px;
		width: 99%;
	}
	.slide-div{
		text-align:center;
		font-size:20px;
	}
	.slide-img{
		align:center;
		height:400px;
		width: 90%;
	}

	.content-margin{
		margin-inline-start: 26px !important;
	}

	.action-css{
		color: red;
		margin-left: 14px;
		cursor: pointer;
	}
	.clrcartBtn{
		float:right;
	}
	.order-confirmed{
		background-color: #4fa746;
		border-radius: 15px;
		padding: 0px 0px 0px 9px;
	}
	.loading{
		margin: 15% 43%;
	}